.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-section li {
  list-style: none;
}

.nav-btn-container {
  padding: 1.5em;
}

.nav-btn {
  color: #fbf4e3;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.15rem;
}
