.user-account-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-title-container p {
  color: #fbf4e3;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0 1em;
}
